<a href="https://colab.research.google.com/github/ohjiwoo123/Learning-GH/blob/main/%EB%B3%B4%EC%8A%A4%ED%84%B4%EC%A7%91%EA%B0%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

보스턴 집값 예측
github csv url : https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv

In [ ]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
# 1. 과거의 데이터를 준비합니다.
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
# 독립변수, 종속변수
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [ ]:
# 모델의 구조를 만듭니다
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [ ]:
# 데이터로 모델을 학습(FIT)합니다.
model.fit(독립, 종속, epochs=1000, verbose= 0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 26.3282
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 26.6998
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 26.5262
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 26.6872
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 26.6737
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 26.0812
Epoch 7/10
16/16 [==============================] - 0s 989us/step - loss: 26.2511
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 26.4709
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 26.1830
Epoch 10/10
16/16 [==============================] - 0s 2ms/step - loss: 26.5048

In [ ]:
# 모델을 이용합니다.
model.predict(독립[0:5])

array([[28.767134],
       [24.03446 ],
       [29.704697],
       [29.078367],
       [28.40317 ]], dtype=float32)

In [ ]:
종속[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [ ]:
# 모델의 수식 확인
model.get_weights()

[array([[-0.088217  ],
        [ 0.07502375],
        [-0.06276634],
        [ 3.39031   ],
        [ 2.406157  ],
        [ 3.8978293 ],
        [ 0.01440577],
        [-0.9008312 ],
        [ 0.14697045],
        [-0.00975282],
        [ 0.02125786],
        [ 0.0147361 ],
        [-0.58878493]], dtype=float32), array([2.8826687], dtype=float32)]

In [ ]:
집값 = -0.088217 * x1 + 0.07502375 * x2 + -0.06276634 * x3 +
 3.39031 * x4 + 2.406157 * x5 + 3.8978293 * x6 + 
 0.01440577 * x7 + -0.9008312 * x8 + 0.14697045 * x9 +
  -0.00975282 * x10 + 0.02125786 * x11 + 0.0147361 * x12 + -0.58878493 * x13 + 2.8826687